.container {
    display: grid;
    flex-direction: column;
    
}

.header, .footer {
    width: 90%;
}

.header, .listing-container, .analytics, .savedhomes, .messages, .footer {
    margin: 10px;
    padding: 20px;
    border: 1px solid #c0d2e0;
    border-radius: 10px;
    background-color: #f5f9fc;
}

.listing-container, .messages {
    width: 70%;

}


#listingContainer, #messages-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
}

.analytics {
    display: inline-block;
    width: 300px;
    height: 300px;
    font-size: 20px;
}

.savedhomes {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
}

.footer {
    margin-top: auto; /* Push footer to the bottom of the page */
}

.footitems {
    display: flex;
    justify-content: space-between;
}

.listing-card, .messages-temp {
    width: 200px; /* Adjust width as needed */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.listing-card:hover, .message:hover {
    transform: translateY(-5px);
}

.listing-image, .messages-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.listing-details, .message-details {
    padding: 10px;
}

.listing-details h2, .message-details h2 {
    margin-top: 0;
}

.listing-details p, .message-details p {
    margin: 5px 0;
}
